{% extends 'blogs/base.html' %}
{% load static %}

{% block content %}
<body>
  {% for post in posts %}
    <header class="masthead" style="background-image:url({{ post.image.url }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2><span class="meta">Posted by&nbsp;<a href="#">{{ post.author }}</a>&nbsp;on {{ post.date_posted }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <p class="content">{{ post.content }}</p>
                    <h2 class="section-heading">Heading</h2>
                    <blockquote class="blockquote">
                        <p class="mb-0">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</p>
                    </blockquote>
                    <h2 class="section-heading">Reaching for the Stars</h2>
                    <p><span>Placeholder text by&nbsp;</span><a href="http://spaceipsum.com">Space Ipsum</a><span>&nbsp;Photographs by&nbsp;</span><a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
                </div>
            </div>
        </div>
    </article>
{% endfor %}
</body>

{% endblock %}